body{
    background-color:#F0F7F4;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.container{
    max-width: 1024px; 
    margin: 0 auto;
}
 
header{
    background-color:#A2E3C4;
    text-align: center;
}

.titre-header{
    height: 65px;
    margin: 0;
    padding-top: 30px;
    font-weight: bold;
    font-size: 45px;
    color: #3C493F;
}

hr{
    background-color: white;
    margin: 0;
    border: none;
    height: 3px;
}

/***************************************************************
CSS Barre Navigation
****************************************************************/
nav{
    background-color:#A2E3C4;
    min-height: 40px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
     max-width: 250px;
     padding-top: 10px;
}

nav a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 60px;
    padding: 15px;
    text-align: center;
    color: #3C493F;
    font-size: 25px;
}

nav a:hover{
    font-weight: bold;
    color: #3c493f;
    text-shadow: #3C493F 1px 1px 1px;

}

/***************************************************************
CSS Page Services
***************************************************************/

.servicesh1{
    color: #B3BFB8;
    margin: 35px;
    margin-bottom: 75px;
    font-family: 'rubik';
    font-size: 64px;
    font-weight: bold;
    text-align:center;
    text-shadow: #3C493F 2px 2px 2px;
}

.pservices{
    width: 550px;
    align-items: center;
}

.h2services{
    color: #3C493F;
    font-family: 'rubik';
    font-size: 35px;
    text-align: center;
    max-width: 200px;
    min-height: 150px;
    align-items: center;
    margin-top: 55px;
}

h2 a:visited{
    color: #3c493f;
}

h2 a:active{
    color: #F0F7F4;
}

.backgroundvert{
    background-color: #b7e4ce;
    width: 1024px;
    display: flex;
    flex-flow: row wrap;
    flex: 2;
    margin-bottom: 15px;
    justify-content: space-around;
    align-content: center;   
    
}

.backgroundgris{
    background-color: #B3BFB8;
    width: 1024px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    justify-content: space-around; 
    align-content: center;   
}

/************************************************************
CSS Page Accueil
************************************************************/

.fondatriceh1{
    color: #B3BFB8;
    margin: 30px 0 30px 0;
    font-family: 'rubik';
    font-size: 35px;
    font-weight: bold;
    text-shadow: #3C493F 1px 1px 1px;
}

.fondatrice{
    display: flex;
}
.articlefondateur{
    margin-left: 12px;
}
.image-fondatrice{
    padding: 5px 20px 25px 0;
}

p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    line-height : 2em;
    margin: 0;
    padding: 1rem;
}

.paragraph-fondatrice{
    padding: 0 1rem;
    margin-bottom: 30px;
}

.lesnouvlles{
    border-radius: 10px;
}

.grid-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row:  repeat(6, auto);
    gap: 25px 15px;
    max-width: 1200px; 
    margin: 0 auto;
}

.nouvelleDufin{
    grid-column: repeat(2, 1fr);
}

.imageDesNouvelles{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 0;
}
.titreDenouvelle{
    margin: 25px;
    font-weight: bold;
}
.iamgedefond-1{
    background-image: url("images/image-nouvelle-2.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.couleurDeFond-1{
    background-color:#B3BFB8;
}
.couleurDeFond-2{
    background-color:#A2E3C4;
}
.iamgedefond-2{
    background-image: url("images/image-nouvelle-7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.couleurcontenue{
    color: #F0F7F4;

}
.nouvelleDufin1{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    background-color:#B3BFB8;
    margin-left: 80px;

}
.nouvelleDufin2{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    background-color:#B3BFB8;
    margin-right: 80px;
}
.imagedroite{
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.textpargraph{
    padding: 16px 16px 0 16px;
}
.vieaubureau{
    background-image: url("images/bureau.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
    grid-column-start: 1;
    grid-column-end: 5;
}
.textvieaubureau{
    margin: 0 100px 0 100px;
}
.titreVieaubureau{
    margin-left: 55px;
    color: #A2E3C4;
    font-size: 50px;
    padding: 150px 0 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

/********************************************************************
CSS Footer
**********************************************************************/

footer{
    background-color: #B3BFB8;
    margin-top: 30px;
    padding-top: 20px;
}
.adresse{
    padding: 0 0 0 80px;
    color: #F0F7F4;
}
#espacetelephone{
    margin : 10px 0 0 0;
    padding-bottom: 20px;
}
#titreFooter{
    color: #F0F7F4;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 45px;
}
.postiontiter{
    display: flex;
    justify-content:space-between;
}

/***************************************************************************/
/* CSS formulaire de contact 
/*
/************************************************************************/
.nouscontacter{
    width: 45%;
}
.lignenouscontacter{
    width: 45%;
}
.contenue-form{
    margin : 29px 24px 120px 20px;
}
.nom{
    width: 395px;
}
.prenom{
    width: 500px;
    margin: 0 0 0 20px;
}
.tele-courriel{
    width: 656px;
}
input, textarea, select{
    background-color:#d5dad5;
    height: 66px;
    border: none;
    margin-bottom:34px;
    font-weight: medium;
    font-size: 24px;
    border-radius: 5px;
    color:  #034726;
}

:placeholder-shown{
    padding: 10px;
}
textarea{
    Width:975px;
    Height:285px;
}
.monform{
    position: relative;
}

#button{
    position: absolute;
    width: 310px;
    background-color: #A2E3C4;;
    color: rgb(17, 16, 16);
    border-radius: 5px;
    height: 86px;

 }

/*******************************************/
/* page nos réalisations 
/*******************************************/

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row:  repeat(5, auto);
    gap: 25px 15px;
    max-width: 1130px; 
    margin: 0 auto;

}


/***************************************************
CSS Page des Services
***************************************************/

.serveur{
    max-width: 200px;
    min-height: 600px;
}

.hebergementmain{
    display: flex;
    flex-direction: column wrap;
    justify-content: space-evenly;
    align-content: center;

}

.phebergement{
    max-width: 300px;
    padding-top: 0;
}
/*******************************************************
* Pour rendre la page d'accueil responsive à 900px
*
* 
****************************************************/
@media only screen and (max-width: 900px) {
    .grid-1 {
        grid-template-columns: 1fr;
    }
    .grid-1 > article{
        grid-column :1;
    }
    .nouvelleDufin1{
        margin-left: 0px;
        margin-right: 80px;
    }
}